h1 {
    color: #fff;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #009DDB;
    font-size: 30px;  
}

.header__content {
    color: #fff;
    margin: 0;
    padding: 5%;
    overflow: hidden;
    background-color: rgb(49, 52, 57);
}

.header__logo {
    height: 10%;
    width: 10%;
    display: inline;
}

.header {
    display: inline;
    padding: 10px;
    margin: 2%;
    font-size: 20px;
}

.video__player {
    margin-left: 5%;
    margin-right: 5%;
}

.video__content {
    margin-left: 10px;
    margin-right: 10px;
}

/* .thumbs__up {
 
    
}

.thumbs__down {
    

} */

.comment__input {
    padding: 20px;
    width: 50%;
}

.comment__button {
    padding: 20px;
    width: 20%;
    border: none;
}

#top__button {
    background-color: rgb(250,166,26);
    margin-top: 1%;
    color: #fff;
}

#bottom__button {
    background-color: rgb(299,140,27);
    color: #fff;
}

.footer__logo {
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}