/****** Nav Bar ******/
nav {
   color: #fff;
    margin: 0;
    padding: 1.5%;
    overflow: hidden;
    background-color: #009DDB;  
}

h1 {
    font-size: 20px;  
}

/****** header ******/
.header__content {
    color: #fff;
    margin: 0;
    padding: 5%;
    overflow: hidden;
    background-color: rgb(49, 52, 57);
}

.header__logo {
    height: 10%;
    width: 10%;
    display: inline;
}

.header {
    display: inline;
    padding: 10px;
    margin: 2%;
    font-size: 20px;
}

/****** video section ******/
.video__player {
    margin-left: 5%;
    margin-right: 5%;
}

.video__content {
    margin-left: 10px;
    margin-right: 10px;
}

.view__count {
    display: inline;
}

.thumbs {
    position: absolute;
    right: 100px;
    display: inline;
}

.thumbs__up {
   margin: 3px;
}

.thumbs__down {
    margin: 3px;
}

/****** comment section ******/
.comment__container {
    margin-top: 25px;
}

.comment__input {
    padding: 20px;
    width: 50%;
}

.comment__button {
    padding: 20px;
    width: 20%;
    border: none;
}

#top__button {
    background-color: rgb(250,166,26);
    margin-top: 1%;
    color: #fff;
}

#bottom__button {
    background-color: rgb(299,140,27);
    color: #fff;
}

.comment__name {
    display: inline;
    color: #393C3E;
}

.comment__time {
    display: inline;
    color: #D1D1D1;
}

/* .comment {

} */

.footer__logo {
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}