h1 {
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(71, 158, 215);
    font-size: 30px;
}

.header__content {
    color: #fff;
    margin: 0;
    padding: 5%;
    overflow: hidden;
    background-color: rgb(49, 52, 57);
}

.header__logo {
    height: 10%;
    width: 10%;
    display: inline;
}

.header {
    display: inline;
}

/* .thumbs__up {
 
    
}

.thumbs__down {
    

} */

.footer__logo {
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}